body {
     margin: 0;
     font-family: Helvetica;
     background: #080808;
     color: #ffffff;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     text-align: center;
     flex-direction: column;
 }
 
 .container {
     max-width: 400px;
     margin-bottom: 20px;
 }
 
 h1 {
     font-size: 2.5rem;
     margin-bottom: 0.5rem;
 }
 
 .links {
     margin-top: 1.5rem;
     display: flex;
     flex-direction: column;
     gap: 10px;
 }
 
 .links a {
     text-decoration: none;
 }
 
 .links button {
     font-family: Helvetica;
     font-weight: bold;
     background: transparent;
     border: 2px solid #ffffff;
     border-radius: 50px;
     padding: 0.5rem 1.5rem;
     transition: background-color 0.3s ease, transform 0.3s ease;
     cursor: pointer;
     color: #ffffff;
     width: 100%;
 }
 
 .links button:hover {
     background-color: #ffffff;
     color: #080808;
     transform: translateY(-3px);
 }
 
 footer {
     position: absolute;
     bottom: 10px;
     width: 100%;
     text-align: center;
     font-size: 1 rem;
 }
 